@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: rgb(53, 224, 15);
}
#card{
    background: white;
    height: 400px;
    width: 250px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 17px -10px 30px -20px rgba(42, 56, 207, 1);
    -moz-box-shadow: 17px -10px 30px -20px rgba(42, 56, 207, 1);
    box-shadow: 17px -10px 30px -20px rgba(42, 56, 207, 1);
    border: solid 2px black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size:3rem;

}

.valor{
    display: flex;
    justify-content: center;
    align-items: center;
}


.figuraInvertida{
    transform: rotate(180deg);
}

.boton{
    border-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

